**/.vscode
**/.vs

# data

/data/**

!/data/*/
/data/*/**
!/data/*/sn.bin
!/data/*/executable
!/data/*/exe_string_pool.sexp
!/data/string_pool/*

!/data/string_list_modifiers.sexp
!/data/fonts/SourceHanSansSC-Regular.ttf

# env
/scripts/Env.ps1
