*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

**/.vscode
**/.vs
**/.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# bin
bin/
obj/

# IDE
.vs/
.idea/

# data

/data/**

!/data/*/
/data/*/**
!/data/*/sn.bin
!/data/*/executable
!/data/*/exe_string_pool.sexp
!/data/string_pool/*

!/data/string_list_modifiers.sexp
!/data/fonts/SourceHanSansSC-Regular.ttf

# env
/scripts/Env.ps1
